# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build / Dependencies
node_modules/
dist/
dist-ssr/
uploads/

# Environment Variables
.env

# Local Environment Overrides
*.local

# Editor Settings
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
